{
  "presets": [
    ["@babel/preset-env", {"useBuiltIns": "entry"}], // use browser native functions
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
