
.section {
    display: block;
}

.description-block {

    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 40px;

}

.description-block-logo {
    display: flex;
    max-width: 1440px;
    -webkit-box-pack: center;
    justify-content: center;

}

img.description-block-logo {
    max-height: 460px;
    max-width: 512px;
}

h1.description-block-title {
    font-size: 50px;
    margin-top: 40px;
}

.description-block-abstract-description {
    max-width: 560px;
    display: flex;
    flex-direction: column;
}

.description-block-description {

    margin-top: 16px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
}

.description-block-location {
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
}

button.enroll {

    background-color: rgb(0, 62, 255);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 28px;
    padding: 13px 34px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 40px auto 0px 0px;
}


.sections-block {
    display: flex;
    margin-top: 105px;
    align-self: center;
    justify-self: center;
    -webkit-box-pack: center;
    justify-content: center;


}

h2.sections-block-title {

    font-size: 50px;
    text-align: center;
    width: 100%;
    font-weight: 600;

}

.sections-block-schedule {
    display: flex;

}

a.sections-block-schedule {
    font-weight: 600;
    color: rgb(0, 62, 255);
    text-decoration: none;
    padding-top: 18px;
    font-size: 22px;
}

span.sections-block-schedule {
    padding-top: 5px;
    margin-right: 13px;
}

.sections-age {
    margin-top: -5px;
}

.sections-age-1 {
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    align-items: center;
    height: 58px;
    padding-left: 16px;
    border-bottom: 1px solid
}

.sections-svg {
    width: 20px;
    height: 12px;
    margin-right: 14px;
    transform: rotate(270deg);
}

.sections-age-title {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
    display: inline;

}

